#ChessBoard {
    width: 600px;
    height: 600px;
    cursor: pointer;
    float: left;
    box-shadow: 2px 2px 20px peru;
    background-size: 100%;
    background-repeat: no-repeat;
}

.ChessBoardBase {
    width: 40px;
    height: 40px;
    background-size: 100%;
    background-repeat: no-repeat;
}

#Panels {
    width: 400px;
    height: 600px;
    float: left;
}

#ButtonPanel {
    margin: 10px 10% auto 10%;
}

#Timer {
    width: 200px;
    height: 200px;
    border-radius: 100px;
    margin: 0 100px auto 100px;
}

#TimerNumber {
    float: left;
    width: 130px;
    height: 150px;
    font-family: "Roboto", "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", Verdana, Arial, sans-serif;
    font-size: 100px;
    margin: 25px 35px 25px 35px;
}