<!DOCTYPE html>
<html lang="zh-hans">
<head>
    <meta charset="UTF-8">
    <title>主页</title>
    <link rel="stylesheet" type="text/css" href="/static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/toastr/toastr.css">
    <link rel="stylesheet" type="text/css" href="/static/stylesheet/CommonStyle.css">

</head>
<body style="min-width: 600px;">
<nav class="navbar navbar-light navbar-expand-lg bg-light">
    <a href="/" class="navbar-brand">
        Gobang
    </a>
</nav>
<div id="ChessBoardContainer" class="container">
    <div id="ChessBoard" class="ChessBoardBackground">
    </div>
    <div id="Panels">
        <div id="ButtonPanel">
            <ul class="list-group">
                <li class="list-group-item">
                    <div class="row">
                        <select id="ChessSelect" class="custom-select custom-select-lg col-6 offset-1">
                            <option selected value="BlackChess">先手</option>
                            <option value="WhiteChess">后手</option>
                        </select>
                        <button id="start" class="btn btn-lg btn-outline-primary col-4" onclick="startPlay()">开始
                        </button>
                    </div>
                </li>
                <li class="list-group-item">
                    <button id="reset" class="btn btn-lg btn-outline-danger col-4 offset-1" onclick="reset()">复位
                    </button>
                    <button id="repent" class="btn btn-lg btn-outline-warning col-4 offset-2">悔棋</button>
                </li>
                <li class="list-group-item">
                    <button id="save" class="btn btn-lg btn-outline-primary col-4 offset-1">存盘</button>
                    <button id="load" class="btn btn-lg btn-outline-primary col-4 offset-2">复盘</button>
                </li>
            </ul>
        </div>
    </div>
</div>
<script src="/static/javascript/jquery-3.4.1.min.js"></script>
<script src="/static/bootstrap/js/bootstrap.min.js"></script>
<script src="/static/toastr/toastr.min.js"></script>
<script src="/static/javascript/init.js"></script>
<script src="/static/javascript/CommonScript.js"></script>
<script src="/static/javascript/ChessBoardLineStyleSetter.js"></script>
<script>
    $(document).ready(init());

    function init() {
        setLayout();
        makeChessBoardLineStyle();
        drawChessBoard(0);
        setButtons();
    }


</script>
</body>
</html>